*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden{
  display: none;
}
:root {
  --bg-color: white;
  --text-color: black;
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
}

[data-theme="dark"] {
  --bg-color: #121212;           /* fundo bem escuro */
  --text-color: #f5f5f5;         /* texto claro e suave */
  --primary-color: #08c0dd;      /* mantém o azul como destaque */
  --secondary-color: #1e1e2e;    /* um cinza azulado escuro */
  --tertiary-color: #2b2b3d;     /* apoio com contraste suave */
}



[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #eaeaea;
}

[data-theme="light"] body {
  background: var(--secondary-color);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar__theme button {
  padding: 0.5rem 1rem;
  background: none;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}

.navbar__theme .light-text,
.navbar__theme .dark-text {
  display: none;
}

[data-theme="light"] .light-text {
  display: inline;
}

[data-theme="dark"] .dark-text {
  display: inline;
}

.navbar.navbar--scroll{
  background-color: rgba(38, 36, 49, 0.8);
  backdrop-filter: blur(10px);
}

a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  padding: 1rem 2rem;
  position: fixed;
  height: 74px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  
}
.navbar__container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo img {
  width: 112px;
  height: 36px;
}
.navbar__menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}
.navbar__menu-link:hover {
  color: var(--primary-color);
}

.navbar__menu-link--primary {
 color: white;}

.navbar__menu-link--primary:hover {
  color:var(--primary-color);
}



 
 

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  color: var(--text-color);
  padding: 0.2rem 0.5rem;
}

.menu-toggle:hover{
  color: var(--primary-color);
}
.navbar__menu{
  display: block;
}

 #toggleDesktop{
border: none;
background-color: transparent;
 
}

 [data-theme="light"] #toggleDesktop svg:hover{
fill: #08c0dd;
 
}
[data-theme="light"]
   #toggleDesktop svg {
fill: white;

}

 [data-theme="dark"] #toggleDesktop svg:hover{
fill: #08c0dd;
 
}
[data-theme="dark"]
   #toggleDesktop svg {
fill: white;

}

#toggle-mobile{
display: none;
border: none;
background-color: transparent;
 
}
#side-menu{
  display: none;
}


#side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%; /* ou 100% se quiser ocupar toda a tela */
  height: 100vh;
  border-right: 1px solid var(--bg-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999; /* acima dos outros elementos */
  background-color: var(--secondary-color);

}





#side-menu.open {
  transform: translateX(0);
}

@media (max-width: 460px) {


[data-theme="light"]
    #toggle-mobile svg {
fill: #08c0dd;

}

[data-theme="light"]
    #toggle-mobile svg:hover {
fill: #fff;
 
}



[data-theme="dark"]
    #toggle-mobile svg {
fill: #fff;

}

[data-theme="dark"]
    #toggle-mobile svg:hover {
fill: #08c0dd;;
 
}

  .navbar {
  padding: 1rem ;

}

  #menu-toggle {
    display: block;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__theme{
    display: none;
  }
#side-menu{

  display: block;


}
.flex{
  padding: 1.5rem 0.75rem;
align-items: flex-start;
justify-content: space-between;
 display: flex ;


}
.navbar__menu-list {
/* padding: 1rem 0rem; */
 gap: 1rem;
  flex-direction: column;
}

[data-theme="light"] .navbar__menu-link:hover{
color: var(--primary-color);
}
[data-theme="dark"] .navbar__menu-link{
color: var(--primary-color);
}

[data-theme="dark"] .navbar__menu-link:hover{
color: white;
}

.navbar__menu-link:hover {
  color: white;
}

 [data-theme="dark"] .navbar__menu-link--primary {
 color: var(--primary-color);}


 [data-theme="dark"] .navbar__menu-link--primary:hover {
 color: white;
 }
#toggle-mobile{
display: block;


 }}